.copyright2024By {
  position: relative;
  line-height: 22px;
}
.accountSignup,
.copyright2024ByBetball2balWrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.copyright2024ByBetball2balWrapper {
  flex-direction: row;
  padding: 0 var(--padding-38xl);
  max-width: 100%;
}
.accountSignup {
  width: 100%;
  position: relative;
  background-color: var(--color-midnightblue);
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-83xl) var(--padding-515xl) var(--padding-8xl)
    var(--padding-527xl);
  gap: var(--gap-199xl);
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--body-regular-size);
  color: var(--color-gray-600);
  font-family: var(--body-regular);
}
@media screen and (max-width: 725px) {
  .accountSignup {
    gap: var(--gap-90xl);
    padding-left: var(--padding-254xl);
    padding-right: var(--padding-248xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .accountSignup,
  .copyright2024ByBetball2balWrapper {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .accountSignup {
    gap: var(--gap-35xl);
  }
}
