.bgIcon,
.frameIcon {
  position: absolute;
  overflow: hidden;
}
.bgIcon {
  width: calc(100% + 1px);
  top: 110px;
  right: -1px;
  left: 0;
  max-width: 100%;
  height: 645px;
}
.frameIcon {
  top: 17px;
  left: 24px;
  width: 32px;
  height: 32px;
}
.antDesignPro {
  position: absolute;
  top: 16px;
  left: 68px;
  line-height: 32px;
  font-weight: 500;
}
.logo {
  height: 64px;
  width: 53px;
  position: relative;
  background-color: var(--neutral-1);
  display: none;
}
.iconWrapper,
.title {
  position: absolute;
  top: 13px;
}
.iconWrapper {
  left: 18px;
  width: 14px;
  height: 14px;
  object-fit: contain;
}
.title {
  left: 42px;
  line-height: 22px;
  display: none;
}
.iconWrapper1 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: cover;
}
.div {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon,
.titleWrapper {
  position: absolute;
  overflow: hidden;
}
.titleWrapper {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper2 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: cover;
}
.title1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.titleWrapper1 {
  position: absolute;
  top: calc(50% - 11px);
  left: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.innerWrapper1 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg1 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper3 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: cover;
}
.div1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon1,
.titleWrapper2 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper2 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon1 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper2 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg2 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper4 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: contain;
}
.div2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon2,
.titleWrapper3 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper3 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon2 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper3 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg3 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper5 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: cover;
}
.div3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon3,
.titleWrapper4 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper4 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon3 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper4 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg4 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper6 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: cover;
}
.div4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon4,
.titleWrapper5 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper5 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon4 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper5 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg5 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper7 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: contain;
}
.title2 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon5,
.titleWrapper6 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper6 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon5 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper6 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg6 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper8 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: contain;
}
.title3 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon6,
.titleWrapper7 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper7 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon6 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: cover;
}
.innerWrapper7 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg7 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.iconWrapper9 {
  height: 14px;
  width: 14px;
  position: relative;
  object-fit: contain;
}
.title4 {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 22px;
}
.rightSideIcon7,
.titleWrapper8 {
  position: absolute;
  overflow: hidden;
}
.titleWrapper8 {
  top: calc(50% - 11px);
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.rightSideIcon7 {
  top: calc(50% - 4.5px);
  right: 0;
  width: 10px;
  height: 9px;
  object-fit: contain;
}
.innerWrapper8 {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inlineMenuItemtopLevelleg8 {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-base);
  box-sizing: border-box;
  height: 100%;
}
.menu,
.siderdefault {
  background-color: var(--neutral-1);
}
.menu {
  height: 40px;
  flex: 1;
  position: relative;
  overflow: hidden;
  font-size: var(--body-regular-size);
  color: var(--character-title-85);
}
.siderdefault {
  width: 53px;
  box-shadow: var(--drop-shadow-015);
  flex-direction: row;
  padding: var(--padding-383xl) var(--padding-10xs) var(--padding-383xl) 0;
  box-sizing: border-box;
  gap: var(--gap-257xl);
  z-index: 1;
}
.contentWrapper,
.sidebarAndContent,
.siderdefault {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.contentWrapper {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-xs);
  max-width: calc(100% - 53px);
}
.sidebarAndContent {
  position: absolute;
  top: 56px;
  left: 0;
  width: 100%;
  height: 844px;
  flex-direction: row;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
.operatorballRunning {
  width: 100%;
  height: 900px;
  position: relative;
  background-color: var(--color-ghostwhite);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--primary-6);
  font-family: var(--body-regular);
}
@media screen and (max-width: 1025px) {
  .sidebarAndContent {
    height: auto;
  }
  .operatorballRunning {
    height: auto;
    min-height: 900;
  }
}
